.calendario{
    background-color: lightgray;
    overflow: hidden; /* if you don't want #second to wrap below #first */
    float:left;
    margin-top: -25px;
}

.calendario_dia{
    overflow: hidden; /* if you don't want #second to wrap below #first */
  
}

.dias{
    float:left;
    margin-right: 50px;
    
}

.fin{
    margin-left: 50px;
}

.horario-acomodar{
    margin-top: 100px;
    margin-left: 80px;
}

.modal-content{
    background-color: #3b4652 ;
    opacity: .85;
    padding: 0 30px;
    box-shadow:0 0 30px rgba(0,0,0,0.5);
    
    border-radius:15px;
    
}

